@model AcmeWebStore.ViewModels.OrderViewModel
@{ 
    decimal total;
}


<h1>Order Details for Order #@Model.Id</h1>
<p>Customer: @Model.Customer.firstName @Model.Customer.lastName </p>
<p>Store: Acme @Model.Location.City</p>

<h2>  </h2>


<table class="table">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Paid</th>

    </tr>
    @foreach (KeyValuePair<AcmeWebStore.ViewModels.ProductViewModel, int> pair in Model.OrderContents)
    {
        <tr>
            <td>
                @pair.Key.Name
            </td>
            <td>
                $@decimal.Round(pair.Key.Price, 2)
            </td>
            <td>
                @pair.Value
            </td>
            <td>
                $@(total =  decimal.Round((pair.Key.Price * pair.Value), 2))
            </td>
        </tr>
    }    
</table>
<p><strong>Total Cost: $@Model.Total</strong></p>