@model AcmeWebStore.ViewModels.NewOrderViewModel
@using Library.Model
@{ 
    Location location = ViewData["Location"] as Location;

}

<div class='container'>
    <h3 class='center'>Select your products!</h3> <br />
 



        <br />
        <h2> Acme @location.City</h2>
     
        <h4 class="text-danger"> @Model.Message</h4>
     
        <h4>@(location.Address), @(location.City), @(location.State), @(location.Country)</h4>
     
    <div class="row">
        <form asp-action="CreateNewOrder">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity Available</th>
                    <th>Quantity Desired</th>
                </tr>
                @foreach (KeyValuePair<Product, int> entry in location.inventory)
                {
                    var name = Html.NameFor(m => m.orderContents) + "[" + entry.Key.Id + "]";
                    <tr>
                        <td>
                            @entry.Key.Name
                        </td>
                        <td>

                            $@decimal.Round(entry.Key.Price, 2)
                        </td>
                        <td>
                            @entry.Value
                        </td>
                        <td>
                            <input type="number" name="@name" value="@Model.orderContents[entry.Key.Id]" />
                        </td>

                    </tr>
                }
            </table>

            <button class="btn" type="submit" value="CreateNewOrder">Submit Order</button>
        </form>
        </div>
  
</div>

<script>

</script>

